@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--clr-primary: #7380ec;
	--clr-danger: #ff7782;
	--clr-success: #41f1b6;
	--clr-white: #fff;
	--clr-info-dark: #7d8da1;
	--clr-info-light: #dce1eb;
	--clr-dark: #363949;
	--clr-warning: #ff4edc;
	--clr-light: rgba(132, 139, 200, 018);
	--clr-primary-variant: #111e88;
	--clr-dark-variant: #677483;
	--clr-color-background: #081b29;

	--card-border-radius: 2rem;
	--border-radius-1: 0.4rem;
	--border-radius-2: 0.8rem;
	--border-radius-3: 1.2rem;

	--card-padding: 1.8rem;
	--padding-1: 1.2rem;
	--box-shadow: 0 1rem 2rem #0ef;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
	border: 0;
	list-style: none;
	appearance: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #081b29;
    font-family: 'Poppins', sans-serif;
	width: 100vw;
	height: 100vh;
	font-size: 0.88rem;
	user-select: none;
	overflow-x: hidden;
	background-color: var(--clr-color-background);
}

.wrapper1 {
    color: #fff;
}

.wrapper1 .sidebar {
    color: #fff;
}

.wrapper {
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #0ef;
    box-shadow: 0 0 25px #0ef;
    overflow: hidden;
}

.wrapper .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .form-box.login {
    left: 0;
    padding: 0 60px 0 40px;
}

.wrapper .form-box.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
}

.wrapper.active .form-box.login .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.wrapper .form-box.register {
    right: 0;
    padding: 0 40px 0 60px;
}

.wrapper .form-box.register .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
}

.wrapper.active .form-box.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.form-box h2 {
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.form-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    padding-right: 23px;
    font-weight: 500;
    color: #fff;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom-color: #0ef;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: #0ef;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    transition: .5s;
}

.input-box input:focus~i,
.input-box input:valid~i {
    color: #0ef;
}

.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    z-index: -1;
    transition: .5s;
}

.btn:hover::before {
    top: 0;
}

.form-box .logreg-link {
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}

.logreg-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a:hover {
    text-decoration: underline;
}

.wrapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .info-text.login {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.wrapper .info-text.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s;
}

.wrapper.active .info-text.login .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.wrapper .info-text.register {
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}

.wrapper .info-text.register .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
}

.wrapper.active .info-text.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.info-text h2 {
    font-size: 36px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
}

.info-text p {
    font-size: 16px;
    color: #fff;
}

.wrapper .bg-animate {
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, #081b29, #0ef);
    border-bottom: 3px solid #0ef;
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
}

.wrapper.active .bg-animate {
    transform: rotate(0) skewY(0);
    transition-delay: .5s;
}

.wrapper .bg-animate2 {
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #081b29;
    border-top: 3px solid #0ef;
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 1.5s ease;
}

.wrapper.active .bg-animate2 {
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}

.container {
	display: grid;
	width: 96%;
	gap: 1.8rem;
	grid-template-columns: 14rem auto 14rem;
	margin: 0 auto;
}

a{
	color: var(--clr-dark);
}

h1{
	font-weight: 800;
	font-size: 1.8rem;
}

h2{
	font-size: 1.4rem;
}

h3{
	font-size: 0.87rem;
}

h4{
	font-size: 0.8rem;
}
h5{
	font-size: 0.77rem;
}

small{
	font-size: 0.75rem;
}

.profile-photo{
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 60%;
	overflow: hidden;
}

text-muted{
	color: var(--clr-info-dark);
}

p{
	color: var(--clr-dark-variant);
}

b{
	color: var(--clr-dark);
}

.primary{
	color: var(--clr-primary);
}

.success{
	color: var(--clr-success);
}

.danger{
	color: var(--clr-danger);
}

.warning{
	color: var(--clr-warning);
}

/* aside */

aside{
	height: 100vh;
}

aside .top{
	background-color: var(--clr-white);
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 1.4rem;
	box-shadow: 0 0 10px #0ef;
}

aside .logo{
	display: flex;
	gap: 1rem;
}

aside .top div.close{
	display: none;
}

/* sidebar */

aside .sidebar{
	background-color: var(--clr-white);
	display: flex;
	flex-direction: column;
	height: 86vh;
	position: relative;
	top: 1rem;
}

aside .h3{
	font-weight: 500;
}

aside .sidebar a{
	display: flex;
	color: var(--clr-info-dark);
	margin-left: 2rem;
	gap: 1rem;
	align-items: center;
	height: 3.2rem;
	transition: all .1s ease-in;
}

aside .sidebar a span{
	font-size: 1.6rem;
	transition: all .1s ease-in;
}

aside .sidebar a:last-child{
	position: absolute;
	bottom: 1rem;
	width: 100%;
}

aside .sidebar a:hover{
	color: var(--clr-primary);
	background: var(--clr-info-light);
	color: var(--clr-primary);
}

aside .sidebar a:hover span{
	background: var(--clr-info-light);
	color: var(--clr-primary);
	margin-left: 1rem;
	border-left: 5px solid #0ef;
	box-shadow: 0 0 10px #0ef;
	transition: .4s ease;
}

/* Main Section Style */
main{
	margin-top: 1.4rem;
	width: auto;
}

main input{
	background-color: transparent;
	border: 0;
	outline: 0;
	color: var(clr-dark);
}

main .date{
	display: inline-block;
	background-color: var(--clr-white);
	border-radius: var(--border-radius-1);
	margin-top: 1rem;
	padding: 0.5rem 1.6rem;
}

main .insights{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6;
}

main .insights>div{
	background-color: var(--clr-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	margin-top: 1rem;
	box-shadow: var(--box-shadow);
	transition: .3s ease;
}

main .insights>div:hover{
	box-shadow: none;
}

main .insights > div span{
	background: coral;
	padding: 0.5rem;
	border-radius: 50%;
	color: var(--clr-white);
	font-size: 2rem;
}

main .insights > div.stock span{
	background: var(--clr-danger);
}

main .insights > div.department span{
	background: var(--clr-success);
}